{
  "extends": "stylelint-config-ma",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "use",
          "content",
          "extend",
          "include",
          "mixin",
          "if",
          "for",
          "forward",
          "else",
          "elseif",
          "error",
          "each",
          "function",
          "return",
          "while"
        ]
      }
    ]
  }
}
